body footer {
    text-align: right;
    margin-right: 10px;
}

#name{
    font-weight: bold;
    color: black;
}

#username{
    color: grey;
}

#cash {
    color: #eea236;
}

#shared{
    color: #2e6da4;
}