body footer {
    text-align: right;
    margin-right: 10px;
}

#searchBar{
    margin-top: 1%;
}

.name{
    font-weight: bold;
    color: black;
}

.username{
    color: grey;
}

.cash {
    color: #eea236;
}

.shared{
    color: #2e6da4;
}

#searchBar {
    width: 250px;
}

.border {
    border: 1px solid grey;
    box-shadow: 1px 1px 1px 1px grey;
    padding: 5px;
    border-radius: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.border.alert {
    background: rgba(255, 26, 26, 0.47);
}