

fieldset {
    width: 200pt;
    font-size: 20pt;
    color: #888888;
    margin: auto;
    align-content: center;
    text-align: center;
    padding-bottom: 5pt;
}

fieldset input {
    border-bottom-width: 2pt;
    border-bottom-color: #222222;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 175pt;
}

fieldset button {
    display: inline-block;
    horiz-align: center;
    vertical-align: bottom;
    font-size: 12pt;
    color: #888888;
    border: 1pt solid;
    margin-top: 20pt;
}

label {
    display: inline-block;
    width: 28%;
    text-align: left;

}

form{
    width: 75%;
    text-align: center;
}

.username input{
    width: 68%;
    alignment: left;
}

.password input{
    width: 68%;

}

.login-button{
text-align: right;


}

.register-link{
    text-align: right;

}
.Login div{
    width: 400px;
}