div.container {
    width:500px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px 1px grey;
    webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 5px;
    text-align: center;
}

header {
    font-size: 24pt;
    color: #777;
    margin:auto;
    align-content: center;
    text-align: center;
    padding-bottom: 5pt;
}

label {
    display: inline-block;
    text-align: left;
}

button {
    margin-left: -1.5%;
}