header {
    font-size: 24pt;
    color: gold;
    margin:auto;
    align-content: center;
    text-align: center;
    padding-bottom: 5pt;
}

footer {
    padding-top: 10pt;
    font-size: 12pt;
}
fieldset {
    width: 200pt;
    font-size: 20pt;
    color: #888888;
    margin: auto;
    align-content: center;
    text-align: center;
    padding-bottom: 5pt;
}

fieldset input {
    border-bottom-width: 2pt;
    border-bottom-color: #222222;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 200pt;
}

fieldset button {
    display: inline-block;
    horiz-align: right;
    vertical-align: bottom;
    font-size: 12pt;
    color: #888888;
    border: 1pt solid;
    margin-top: 10pt;
    margin-right: 6pt;
    text-align: right;
}

fieldset label {
    display: inline-block;
    font-size: 14pt;
    width: 28%;
    text-align: left;

}

form{
    width: 100%;
    text-align: center;
}

.login-button{
    text-align: right;
}

.register-link{
    display: inline-block;
    text-align: right;
    font-size: 12pt;



}
/*
.username input{
     width: 68%;
     alignment: left;
 }

.password input{
    width: 68%;

}


*/

fieldset div{
      width: 400px;
  }