.post {
    border: 1px solid grey;
    box-shadow: 1px 1px 1px 1px grey;
    padding: 5px;
    border-radius: 6px;
}

.post time {
    text-align: right;
}

.post .postfooter {
    text-align: right;
}

.post .postheader {
    display: block;
}

.post .postheader .postauthor img {
    width: 50px;
    height: 50px;
}

.post .postcontent {
    margin-top: 5px;
    margin-bottom: 5px;
}

.post .postheader .postauthor {
    display: inline-block;
    width: 60%;
}

.post .postheader .postauthor .postauthorname{
    display: inline-block;
    vertical-align: top;
}

.post .postheader .postauthor .postauthorname span{
    display: block;
}

.post .postheader .posttime {
    width: 39%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
}

#time{
    text-align: right;
    color: grey;
}


.post .postfooter .share{
    display: inline-block;
    width: 57%;
}

.post .postfooter .vote{
    display: inline-block;
    width: 40%;
}