.rss_entry {
    font-size: 9pt;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rss_date_pre {
    font-weight: bold;
}

.rss_link{
    border-bottom: groove;
}

.rss_failure_message {
    font-size: 9pt;
}
