
.buttonrow {
    text-align: right;
    padding-top: 5px;
}
.imagepanel {
    text-align: center;
}

img {
    padding-bottom: 5px;
    width: 200px;
    height: 200px;
}
div.container-border {
    border:1px solid black;
    webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-top: 5px;
    margin-bottom: 10px;
}

legend {
    padding-left: 10px;
}

input {
    padding-right: 10px;
}

.form-horizontal {
    padding-right: 10px;
}

fieldset {
    border: 1px solid #888888;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

fieldset legend {
    width: auto;
    border-bottom: none;
    padding-right: 10px;
}
i {
    margin: 3px;
}

.btn {
    padding-left: 5px;
}