fieldset {
    width: 200pt;
    font-size: 20pt;
    color: #888888;
    margin: auto;
    align-content: center;
    text-align: center;
    padding-bottom: 5pt;
}

fieldset input {
    border-bottom-width: 2pt;
    border-bottom-color: #222222;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 175pt;
}

fieldset button {
    display: inline-block;
    horiz-align: center;
    vertical-align: bottom;
    font-size: 12pt;
    color: #888888;
    border: 1pt solid;
    margin-top: 20pt;
}

body {
    margin: auto;
}

.menuBar {
    position: absolute;
    top: 0%;
}

.invisible {
    visibility: hidden;
}

.content {
    position: absolute;
    top: 10%;
    width: 100%;
}

.full {
    width: 100%;
}

span.dividingLine {
    display:inline;
    color: orange;
}
