.hswUser img{
    max-width: 50px;
    max-height: 50px;
    margin:auto;
}

.hswUser .hswUsername{
     display: inline-block;
     vertical-align: top;
 }

.hswUser .hswUsername span{
    display: block;
}

.username{
    color: grey;
}

.usernameHeader{
    display:block;
}